body {
    background-color: #70CF51;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.fish1, .fish2, .fish3 {
    background-image: url(../images/fish.png);
    width:130px; height: 110px;
    
    /* kleur variatie met css */
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    z-index: 2;
}

.fish1{
  /* animatie met css */
    animation: fishanimation1 4s ease-in-out infinite alternate;
}

.fish2{
  /* animatie met css */
    animation: fishanimation2 4s ease-in-out infinite alternate;
}

.fish3{
  /* animatie met css */
    animation: fishanimation3 4s ease-in-out infinite alternate;
}

.deadfish {
    background-image: url(../images/bones.png) !important;
    width:130px; height: 110px;
    z-index: 1;

    /* animatie met css */
    animation: fishanimation1 4s ease-in-out infinite alternate;
}

bubble {
    background-image: url(../images/bubble.png);
    width:55px; height: 55px;
    left:50vw;
    animation: bubbleup 3s linear infinite;
}

background {
    background-image: url(../images/water.jpg);
    width:100%; height: 100%;
    background-size: cover;
}

@keyframes fishanimation1 {
  0% {
    transform: translateY(20px);
  }
  
  25%{
    transform: translateX(-50px);
  }
  
  50%{
    transform: translateZ(50px);
  }
  
  75%{
    transform: translateY(-25px);
  }
  
  100% {
    transform: translateY(80px);
  }
}

@keyframes fishanimation2 {
  0% {
    transform: translateY(50px);
  }
  
  25%{
    transform: translateX(120px);
  }
  
  50%{
    transform: translateZ(150px);
  }
  
  75%{
    transform: translateY(50px);
  }
  
  100% {
    transform: translateY(100px);
  }
}

@keyframes fishanimation3 {
  0% {
    transform: translateY(-10px);
  }
  
  25%{
    transform: translateY(10px);
  }
  
  50%{
    transform: translateY(-10px);
  }
  
  75%{
    transform: translateY(10px);
  }
  
  100% {
    transform: translateY(-10px);
  }
}

@keyframes bubbleup {
  0% {
    transform: translateY(100vh);
  }
  
  100% {
    transform: translateY(0vh);
  }
}transform: translateY(0vh);
  }
}